/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav header" 
        "nav main"
        "nav footer";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 50px 1fr 50px;
    padding: 40px;
}

nav{
    grid-area: nav;
    display: grid;
    padding-right: 40px;
}

.menu-container{
    background-color: tomato;
    border-radius: 32px;
    display: grid;
    grid-template-rows: 180px 1fr 180px;
    overflow: hidden;
}

.icon{
    background-color: blue;
}

.menu{
    background-color: blueviolet;
}

.guide{
    background-color: brown;
}

header{
    grid-area: header;
    background-color: yellow;
    display: grid;
    place-items: end;
}

.user-container{
    background-color: tomato;
    height: 50px;
    width: 210px;
}

main{
    grid-area: main;
    background-color: lightyellow;
    display: grid;
    grid-template-areas:
        "title title"
        "cards cards"
        "graphic posts";
    grid-template-rows: 70px 1fr 2fr;
    grid-template-columns: 1fr 400px;
}

.title-container{
    grid-area: title;
    background-color: violet;
}

.cards-container{
    grid-area: cards;
    background-color: yellowgreen;
}

.graphic-container{
    grid-area: graphic;
    background-color: teal;
}

.posts-container{
    grid-area: posts;
    background-color: blue;
}

footer{
    grid-area: footer;
    background-color: skyblue;
}